{% extends 'base.html.twig' %}

{% block title %}Formgrh index{% endblock %}

{% block body %}
    <h1>Formgrh index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formgrh in formgrhs %}
            <tr>
                <td>{{ formgrh.id }}</td>
                <td>{{ formgrh.name }}</td>
                <td>{{ formgrh.type }}</td>
                <td>{{ formgrh.date ? formgrh.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_formgrh_show', {'id': formgrh.id}) }}">show</a>
                    <a href="{{ path('app_formgrh_edit', {'id': formgrh.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_formgrh_new') }}">Create new</a>
{% endblock %}
