{% extends 'base.html.twig' %}

{% block title %}Ordm index{% endblock %}

{% block body %}
    <h1>Ordm index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomper</th>
                <th>Fonction</th>
                <th>Aut</th>
                <th>Lieu</th>
                <th>Mission</th>
                 <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ordm in ordms %}
            <tr>
                <td>{{ ordm.id }}</td>
                <td>{{ ordm.nomper }}</td>
                <td>{{ ordm.fonction }}</td>
                <td>{{ ordm.aut }}</td>
                <td>{{ ordm.lieu }}</td>
                <td>{{ ordm.mission }}</td>
               <td>{{ ordm.createdAt|date('Y-m-d H:i:s') }}</td>

                <td>
                    <a href="{{ path('app_ordm_show', {'id': ordm.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('app_ordm_edit', {'id': ordm.id}) }}" class="btn btn-success">edit</a>
                    {% if ordm.file %}
    <a href="{{ path('ordm_download', {'filename': ordm.file}) }}" class="btn btn-primary">Download File</a>
{% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ordm_new') }}">Create new</a>
{% endblock %}
