{% extends 'base.html.twig' %}

{% block title %}Fgrh index{% endblock %}

{% block body %}
    <h1>Liste Formulaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                 <th>cat</th>
                <th>File</th>
                <th>mise a jour</th>
                 <th>actions</th> 
            </tr>
        </thead>
        <tbody>
        {% for fgrh in fgrhs %}
            <tr>
                <td>{{ fgrh.id }}</td>
                <td>{{ fgrh.name }}</td>
                  <td>{{ fgrh.cat }}</td>
                <td>{{ fgrh.file }}</td>
                    <td>{{ fgrh.updatedAt|date('Y-m-d H:i:s') }}</td>
                <td>
                  {% if  fgrh.cat!=11 and  fgrh.cat!=19 %}
                    <a href="{{ path('app_fgrh_download', {'id': fgrh.id}) }}" class="btn btn-primary">download</a>
                    {% endif %}
                     {% if fgrh.cat==11 %}
    <a href="{{ path('app_ordm_new' ) }}" class="btn btn-danger">Génerer</a>
{% endif %}
  {% if fgrh.cat==19 %}
    <a href="{{ path('app_cce_new' ) }}" class="btn btn-danger">Génerer</a>
{% endif %}

                    <a href="{{ path('app_fgrh_edit', {'id': fgrh.id}) }}" class="btn btn-success">edit</a>
                    <a href="{{ path('app_fgrh_show', {'id': fgrh.id}) }}" class="btn btn-info">show</a>
                   

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_fgrh_new') }}">Create new</a>
{% endblock %}
